*{
    margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #eee;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

main{
    width: 100%;
    margin: 10px auto;
    border: 1px solid #ddd;
    color: white;
    display: grid;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns:repeat(3, 1fr) 150px;
    grid-gap: 10px;
}

.box1{
    background-color: #ff4757;
    grid-column: 1/-1;
}

.box2{
    background-color: sandybrown;
    grid-column: 1/4;
}

.box3{
    background-color:steelblue;
}

.box4{
    background-color: navy;
}

.box5{
    background-color: aqua;
    grid-row: 2/4;
    grid-column: 4/5;
}

.box6{
    background-color:orange;
    grid-column: 1/4;
    
}

.box7{
    background-color: slateblue;
    grid-column: 1/-1;
}
.box8{
    background-color: slategray;
    grid-column: 1/-1;
}



